@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  box-sizing: border-box;
  color: var(--foreground);
  /* color: var(--foreground) !important; */
  background: var(--background) !important;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  /* cool scrollbar */
  scrollbar-width: thin;
  scrollbar-color: var(--foreground) var(--background);
  
}